@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

html,
body {
  font-family: 'Roboto', sans-serif;
  background: #f7f9fa !important;
}
.aside-menu-list .MuiListItem-root.Mui-selected .MuiTypography-body1 {
  color: #443d44;
}
.aside-menu-list .MuiTypography-body1 {
  font-size: 0.9rem;
  color: #78899d;
}
.aside-menu-list .selectedlist {
  background: rgba(188, 112, 255, 0.1);
}
.grid-cell-centered .ag-react-container {
  display: inline-block;
}
.ag-theme-material .ag-header {
  color: #443d44;
}
.ag-theme-material .ag-header-cell {
  background-color: #fdfdfd;
}
.ag-theme-material .ag-status-bar {
  background-color: #fdfdfd;
}

.noborder-ag-cell.ag-cell-focus {
  border: none !important;
  outline: none;
}
